"""Copy to ignored settings.py for local development."""

home_pos = "HOME_LATITUDE,HOME_LONGITUDE"
work_pos = "WORK_LATITUDE,WORK_LONGITUDE"
work_miles = "10"
miles_per_gallon = "30"
cost_per_gallon = "4.50"
tomtom_api_key = "YOUR_TOMTOM_API_KEY"
news = ""
debug = False
