<html>
<head>
	<title>Morning App</title>
	<link href="static/styles.css" rel="stylesheet">
</head>
<body>
	<div class="header">
		<h1>morning.garethpaul.com</h1>
	</div>
	<div class="container">
	<h2>Travel</h2>
	<p>Travel time delay = {{ data }}</p>
	<p class="mini">This is based on TomTom route planner data.</p>
	<button class="bus">Bus</button>
	<button class="car">Car</button>
	<div><p class="info"></p></div>
	<script type="text/javascript">
	document.querySelector(".bus").addEventListener("click", function() {
		document.querySelector(".info").textContent = "You saved ${{ transport }} today";
	});
	document.querySelector(".car").addEventListener("click", function() {
		document.querySelector(".info").textContent = "You lost ${{ transport }} today.";
	});
	</script>
	</div>
</body>
</html>
